{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur mon blog ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/wilder/Documents/wcs_weeks/Week11/PHP/Symfony/blog/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/wilder/Documents/wcs_weeks/Week11/PHP/Symfony/blog/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>

<a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
    Testing show() method from BlogController with a real article s slug.
</a>
<br>
<a href="{{ path('blog_index') }}">
    Testing index() method from BlogController to view all articles.
</a>
{% endblock %}
